stages: 
  - cleanup
  - test
  - build
  #- stage-release
  - release
before_script:
#https://docs.gitlab.com/ci/jobs/ssh_keys/
  - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh



cleanup-job:
  stage: cleanup
  image: docker:latest
  script:
    - echo "cleanup"
    - docker system prune -a -f
test: 
  stage: test
  #image: omcr.cs.oslomet.no:443/s364697/project-canario/accessability
  script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login omcr.cs.oslomet.no:443 -u "$CI_REGISTRY_USER" --password-stdin
  - echo "testing things"
  - ls
  - ./test-script.sh web-1/index.html 8 
  - ./test-script.sh web-2/index.html 10

build-job: 
  stage: build
  # image: docker:latest
  script:
    - echo "building and pushing images"
    - docker system prune -a -f
    - echo "$CI_REGISTRY_PASSWORD" | docker login omcr.cs.oslomet.no:443 -u "$CI_REGISTRY_USER" --password-stdin
    #   - docker login omcr.cs.oslomet.no:443
    - docker build -t omcr.cs.oslomet.no:443/s364697/project-canario/web-2:$CI_PIPELINE_ID web-2/
    - docker build -t omcr.cs.oslomet.no:443/s364697/project-canario/web-1:$CI_PIPELINE_ID web-1/
    - docker push omcr.cs.oslomet.no:443/s364697/project-canario/web-1:$CI_PIPELINE_ID
    - docker push omcr.cs.oslomet.no:443/s364697/project-canario/web-2:$CI_PIPELINE_ID


release-job:
  stage: release
  image: docker:latest
  script:
    - echo "it's time to release"
    - echo "$CI_REGISTRY_PASSWORD" | docker login omcr.cs.oslomet.no:443 -u "$CI_REGISTRY_USER" --password-stdin
    - docker pull omcr.cs.oslomet.no:443/s364697/project-canario/web-2:$CI_PIPELINE_ID
    - docker pull omcr.cs.oslomet.no:443/s364697/project-canario/web-1:$CI_PIPELINE_ID
    - docker service update --image omcr.cs.oslomet.no:443/s364697/project-canario/web-1:$CI_PIPELINE_ID canario_web-1
    - docker service update --image omcr.cs.oslomet.no:443/s364697/project-canario/web-2:$CI_PIPELINE_ID canario_web-2
   
    - ./nginx/canario
#    - ./start-stack 

#release-job: 
#  stage: release
#  image: ubuntu:latest
#  script: 
#  - echo "realeasing"
