stages: 
  - worker-cleanup-build
  - test
  - stage-release
  - release

build-job: 
  stage: worker-cleanup-build
  # image: docker:latest
  script:
    - echo "worker-cleanup-build"
    - docker system prune -a -f
    - echo "$CI_REGISTRY_PASSWORD" | docker login omcr.cs.oslomet.no:443 -u "$CI_REGISTRY_USER" --password-stdin
    #   - docker login omcr.cs.oslomet.no:443
    - docker build -t omcr.cs.oslomet.no:443/s364697/project-canario/web-2:latest web-2/
    - docker build -t omcr.cs.oslomet.no:443/s364697/project-canario/web-1:latest web-1/
    - docker push omcr.cs.oslomet.no:443/s364697/project-canario/web-1:latest
    - docker push omcr.cs.oslomet.no:443/s364697/project-canario/web-2:latest

test: 
  stage: test
  #image: omcr.cs.oslomet.no:443/s364697/project-canario/accessability
  script:
  - echo "testing things"
  - ./accessability/test-script.sh cv.jpwiig.dev 2

stage-release-job:
  stage: stage-release
  image: node:latest
  script:
  - echo "staging"

release-job: 
  stage: release
  image: ubuntu:latest
  script: 
  - echo "realeasing"
