stages: 
  - cleanup
  - build
  - test
  #- stage-release
  - release
before_script:
#https://docs.gitlab.com/ci/jobs/ssh_keys/
  - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H 192.168.44.73 >> ~/.ssh/known_hosts


cleanup-job:
  stage: cleanup
  image: docker:latest
  script:
    - echo "cleanup"
    - docker system prune -a -f


build-job: 
  stage: build
  # image: docker:latest
  script:
    - echo "building and pushing images"
    - docker system prune -a -f
    - echo "$CI_REGISTRY_PASSWORD" | docker login omcr.cs.oslomet.no:443 -u "$CI_REGISTRY_USER" --password-stdin
    #   - docker login omcr.cs.oslomet.no:443
    - docker build  -t $CONTAINER_REGISTRY_URL_web1:$CI_PIPELINE_ID web-2/
    - docker build -t $CONTAINER_REGISTRY_URL_web2:$CI_PIPELINE_ID web-1/
    - docker push $CONTAINER_REGISTRY_URL_web1:$CI_PIPELINE_ID
    - docker push $CONTAINER_REGISTRY_URL_web2:$CI_PIPELINE_ID


test: 
  stage: test
  script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login omcr.cs.oslomet.no:443 -u "$CI_REGISTRY_USER" --password-stdin
  - echo "testing things"
  - ls
  - docker run -d -p 5010:5010 --name=web-1-local $CONTAINER_REGISTRY_URL_web2:$CI_PIPELINE_ID
  - docker run -d -p 5011:5011 --name=web-2-local $CONTAINER_REGISTRY_URL_web1:$CI_PIPELINE_ID
  - ./test-script.sh $STATIC_IP_test:5010 8 
  - ./test-script.sh $STATIC_IP_test:5011 10
  - docker stop web-1-local web-2-local
  - docker container rm web-1-local web-2-local
  - docker rmi $CONTAINER_REGISTRY_URL_web1:$CI_PIPELINE_ID $CONTAINER_REGISTRY_URL_web2:$CI_PIPELINE_ID
  - docker image ls -a

release-job:
  stage: release
  image: docker:latest
  script:
    - echo "it's time to release"
    - echo "$CI_REGISTRY_PASSWORD" | docker login omcr.cs.oslomet.no:443 -u "$CI_REGISTRY_USER" --password-stdin
    - docker pull $CONTAINER_REGISTRY_URL_web2:$CI_PIPELINE_ID
    - docker pull $CONTAINER_REGISTRY_URL_web1:$CI_PIPELINE_ID
    - docker service update --image $CONTAINER_REGISTRY_URL_web1:$CI_PIPELINE_ID canario_web-1
    - docker service update --image $CONTAINER_REGISTRY_URL_web2:$CI_PIPELINE_ID canario_web-2
   
    - ssh debian@192.168.44.73 -i $SSH_PRIVATE_KEY "/home/debian/project-canario/nginx/canario"
#    - ./start-stack 

#release-job: 
#  stage: release
#  image: ubuntu:latest
#  script: 
#  - echo "realeasing"
