stages: 
  - build
  - test
  - stage-release
  - release

build-job: 
  stage: build
  image: node:latest
  script:
    - echo "building"

test: 
  stage: test
  image: docker:latest
  script:
  - echo "testing things"

stage-release-job:
  stage: stage-release
  image: node:latest
  script:
  - echo "staging"

release-job: 
  stage: release
  image: ubuntu:latest
  script: 
  - echo "realeasing"