stages: 
- build
- test
- stage-release
- release

build-job: 
  stage: build

test: 
  stage: test
  script:
    - echo "testing things"

stage-release-job:
  stage: stage-release
  script:
    - echo "staging"

release: 
  stage: release
  script: 
    - echo "realeasing"