services:
  web-1:
    #image: web-1
    build: ./web-1/
    ports:
      - 5011:5011
  web-2:
    #image: web-2 
    build: ./web-2/
    ports:
      - 5010:5010
  unleash-backend:
   # image: unleash-backend
    build: ./server/
    ports:
      - 5000:5000
  canario:
    image: ubuntu:latest
    ports:
      - 8080:8080