
 # web-1: 
 #   name: web-1
 #   external: false
 # web-2: 
 #   name: web-2
 #   external: false
services:
  web-1:
    #image: web-1
    image: omcr.cs.oslomet.no:443/s364697/project-canario/web-1:$CI_PIPELINE_ID
    ports:
      - 5010:5010
    #  - 5015:5015 #comment out for docker swarm
    networks:
      - unleash
  #    - web-1
    deploy:
       replicas: 2
       update_config:
        parallelism: 1
 #       order: start-first
       restart_policy:
          condition: on-failure
       placement:
        constraints:
         - node.labels.zone == realease
        max_replicas_per_node: 1 
      
  web-2:
    image: omcr.cs.oslomet.no:443/s364697/project-canario/web-2:$CI_PIPELINE_ID
    ports:
       - 5011:5011
    #  - 5012:5012 #comment out for docker swarm
    networks:
     - unleash
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
#        order: start-first
      restart_policy:
        condition: on-failure
      placement:
        constraints:
        - node.labels.zone == realease
        max_replicas_per_node: 1 
  unleash-backend:
   # image: unleash-backend
     image: omcr.cs.oslomet.no:443/s364697/project-canario:latest
    ports:
      - 5000:5000
    networks:
      - unleash
  #    - web-1
  #    - web-2
    deploy:
       placement: 
        constraints: 
         - node.labels.zone == UB
  load-balancer:
    image: omcr.cs.oslomet.no:443/s364697/project-canario/nginx:latest
    ports:
      - 8080:8080
      - 8081:8081
    networks: 
    - unleash
    deploy:
      placement:
        constraints: 
          - node.labels.zone == load-balancer
networks:
  unleash: 
    #name: unleash
    driver: overlay

