
 # web-1: 
 #   name: web-1
 #   external: false
 # web-2: 
 #   name: web-2
 #   external: false
services:
  web-1:
    #image: web-1
    image: web-1:latest #change to url
   # ports:
    #  - 5010:5010
    #  - 5015:5015 #comment out for docker swarm
    networks:
      - unleash
  #    - web-1
    deploy:
     replicas: 2
     update_config:
      parallelism: 1     
      order: start-first
     restart_policy:
       condition: on-failure
     placement:
       constraints:
        - node.labels.zone == realease
       max_replicas_per_node: 2
      
  web-2:
   image: web-2:latest #change to GHCR
    # ports:
    #   - 5011:5011
    #  - 5012:5012 #comment out for docker swarm
   networks:
   - unleash
   deploy:
     replicas: 2
     update_config:
       parallelism: 1
       order: start-first
     restart_policy:
       condition: on-failure
     placement:
       constraints:
       - node.labels.zone == realease
       max_replicas_per_node: 2 
  unleash-backend:
   # image: unleash-backend
     image: canario_unleash:latest
      - 5000:5000
     networks:
      - unleash
     deploy:
       placement: 
        constraints: 
         - node.labels.zone == UB
  load-balancer:
    image: canario_ngninx:latest
    ports:
      - 8080:8080
      - 8081:8081
    networks: 
    - unleash
    volumes:
      - /home/debian/project-canario/nginx/weight.conf:/etc/nginx/weight.conf:ro
    deploy:
      placement:
        constraints: 
          - node.labels.zone == load-balancer
networks:
  unleash: 
    #name: unleash
    driver: overlay

