
 # web-1: 
 #   name: web-1
 #   external: false
 # web-2: 
 #   name: web-2
 #   external: false
services:
  web-1:
    #image: web-1
    image: omcr.cs.oslomet.no:443/s364697/project-canario/web-1
    ports:
      - 5014:5014
    #  - 5015:5015 #comment out for docker swarm
    networks:
      - unleash
  #    - web-1
    deploy:
       replicas: 2
       restart_policy:
          condition: on-failure
       placement:
          constraints: [node.role == worker]

      
  web-2:
    image: omcr.cs.oslomet.no:443/s364697/project-canario/web-2
    ports:
      - 5013:5013
    #  - 5012:5012 #comment out for docker swarm
    networks:
     - unleash
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.role == worker]

  unleash-backend:
   # image: unleash-backend
    image: omcr.cs.oslomet.no:443/s364697/project-canario
    ports:
      - 5000:5000
    networks:
      - unleash
  #    - web-1
  #    - web-2

  load-balancer:
    image: omcr.cs.oslomet.no:443/s364697/project-canario/nginx
    ports:
      - 8080:8080
    networks: 
    - unleash

networks:
  unleash: 
    name: unleash
    driver: bridge
#    external: false